/* GLOBALES */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;

  }
  
  html {
    font-size: 62,5%;
    font-style: normal;
    font-weight: 400;
    height: 100%;
  
  }


  .iconoSize {
    font-size: 2.8rem;
  }
  
  /* INDEX */
.mainIndex {
    position: relative;
    background: url(../imagenes/uct5c.png);
    min-height: 86vh;
    object-fit: cover;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    padding: 280px 0 220px;
  }
  .mainIndex::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.3);
    }
  
  .mainIndex h2 {
    font-size: 2em;
    text-align: center;
    color: #dcdde1;
    font-weight: bold;
  }
  

  .mainIndex h3 {
    font-size: 1.5em;
    text-align: center;
    color: #ffc400;
    font-weight: bold;
  }
  
  .slogan{
    z-index: 100;
    margin: auto;
  }
  .zindexeado{
    z-index: 100;
  }

/* HEADER */
.logo{
    cursor: pointer;
  border-radius: 40em;
  }

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0%;
    background-color: #000000;
  }

.letraNav {
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
  }

.contactoCentrado{
    align-content: center;
    align-items: center;
    
    }

.fondoContacto{
      background: url(../imagenes/paisajeCordillera.png) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

/* -------------------Lista------------------- */
.coolTitle {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow: 
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}

.done {
  text-decoration: line-through;
}

.btn {
  display: inline;
  border-color: white;
  margin-left: 15px;
  border-radius: 5px;
}